* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-size: 1.125rem;
}

body {
  background-color: hsl(0deg, 0%, 60%);
}

h1, h2, h3 {
  margin: 0;
}

header {
  background-color: white;
  padding-top: 64px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.intro-chunk {
  max-width: 400px;
  min-width: 100px;
  padding: 24px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk h1 {
  margin-bottom: 48px;
}

.intro-chunk p {
  line-height: 1.4;
}

main {
  padding: 64px 0;
}

.max-width-wrapper {
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background-color: white;
  padding: 24px;
  padding-top: 8px;
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
  padding: 16px 32px;
  margin-left: -32px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

.card p {
  line-height: 1.4;
}

.card p:last-child {
  margin-bottom: 0;
}
